web/ips.dtd

<?xml version="1.0" encoding="utf-8" ?> 
<!ELEMENT url (topIP, platformsPC, platformsMOB, ips)>
<!ELEMENT topIP (#PCDATA)>
<!ELEMENT platformsPC (Windows?, Linux?, MacOS?)>
<!ELEMENT Windows (#PCDATA)>
<!ELEMENT Linux (#PCDATA)>
<!ELEMENT MacOS (#PCDATA)>
<!ELEMENT platformsM (iPhone?, Android?)>
<!ELEMENT iPhone (#PCDATA)>
<!ELEMENT Android (#PCDATA)>
<!ELEMENT ips (ip+)>
<!ELEMENT ip EMPTY>
<!ATTLIST ip 
  addr CDATA #REQUIRED
  frequency CDATA #REQUIRED>
